@import "tailwindcss";

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background: linear-gradient(60deg, #944c9d, #031716);
}

.background {
    width: 450px;
    height: 500px;
    border-radius: 12px;
    margin-left: 63px;
    padding-left: 40px;
}
.footer-bg{
    background: linear-gradient(90deg, #6a3a70, #031716);

}